@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

body {
	font-family: 'Lato', sans-serif;
	background: #EDEDED;
}

#page-wapper {
	position: relative;
}

#header ul li {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	display: inline;
	list-style: none;
	border: 1px solid #e7e7e7;
	background: #f3f3f3;
}