@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

body {
	font-family: 'Lato', sans-serif;
	background: #EDEDED;
}

#page-wapper {
	position: relative;
}

header {
	display: grid;
	grid-template-columns: auto auto;
	padding: 10px;	
}

img {
    width: 100%;
    height: 100%;
    max-width: 300px;
    margin: 10px;
}

.logo {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #EDEDED;
}

#nav-bar {
	position: fixed;
	top: 0;
	width: 98%;
	margin-top: 10px;
}

li {
	list-style-type: none;
}

#header ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	float: right;
}

#header li {
	float: left;
}

a {
  color: #000;
  text-decoration: none;
  display: block;
  padding: 8px 25px;
}

#section-form h2 {
	color: blue;
}

#form {
	text-align: center;
	width: 100%;
}

#section-form {
	background: #e6e6e6;
}

#features {
	background: #e6e6e6;
}

#how-it-works {
	display: flex;
	justify-content: center;
}

#how-it-works iframe {
	max-width: 560px;
	height: 315px;
	width: 100%;
	padding: 20px;
	margin-top: 5%;
	margin-bottom: 5%;
}

#pricing {
	/*background: blue;*/
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 10px;
}

#tenor, #bass, #valve {
	border: 1px solid black;
	margin: 10px;
	text-align: center;
	display: grid;
	grid-template-rows: auto auto 1fr;
}

.level1 {
	background-color: #DCDCDC;
	padding: 20px;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
}

ol {
	text-align: center;
	margin: auto 10%;
	padding: 10px 20px 30px;
}

.btn {
	background-color: #F0C31D;
	border: none;
	text-align: center;
	text-transform: uppercase;
	padding: 10px;
	font-size: 16px;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.btn:hover {
	background-color: #d8ac0e;
}

#submit {
	border-radius: 8px;
}

footer {
	display: grid;
	padding: 10px;
	background-color: #DCDCDC;
	text-align: right;
}

footer ul {
	margin: 0;
	padding: 0;
	overflow: hidden;
	float: right;
	bottom: 0;
	display: flex;
	justify-content: flex-end;
}

footer a {
  padding: 8px 15px;
}