@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

body {
	font-family: 'Lato', sans-serif;
	background: #EDEDED;
}

#page-wapper {
	position: relative;
}

header {
	display: grid;
	grid-template-columns: auto auto;
	padding: 10px;	
}

img {
    width: 100%;
    height: 100%;
    max-width: 300px;
    margin: 10px;
}

.logo {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #EDEDED;
}

#nav-bar {
	position: fixed;
	top: 0;
	width: 98%;
	margin-top: 10px;
}

#header ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	float: right;
}

#header li {
	float: left;
}

a {
  color: #000;
  text-decoration: none;
  display: block;
  padding: 8px 25px;
}

#section-form h2 {
	color: blue;
}

#form {
	text-align: center;
	width: 100%;
}

#section-form {
	background: #e6e6e6;
}

#features {
	background: #e6e6e6;
}

#how-it-works {
	display: flex;
	justify-content: center;
}

#how-it-works iframe {
	max-width: 560px;
	height: 315px;
	width: 100%;
	padding: 20px;
	margin-top: 5%;
	margin-bottom: 5%;
}

#pricing {
	background: #e6e6e6;
}